<left>
<div class="task-detail-section">
    ${html}
</div>
</left>
<div style="display:none;">
<table id="formSubmitSection">
<tr>							
				<td></td>							
				<td class="pad-L10">
				
					<button type="submit" name="Complete" class="btn btn-info"> Update </button>
					<span class="empty_space"></span> 
					<button type="button" name="Cancel" class="btn btn-info" onClick="cancelTaskView(${taskId});"> Cancel </button>

				</td>
			</tr>						
		</table>
</div>
<div style="display:none;" id="hiddenDetails">
#set($id = "id")
<input type="hidden" name="id" value="$properties.get($id)" />
<input type="hidden" name="processDefinitionId" value="${processDefinitionId}" />
<input type="hidden" name="instanceId" value="${instanceId}" />
<input type="hidden" name="taskId" value="${taskId}" />
<input type="hidden" name="isSignOff" id="isSignOff" value="false" />
<input type="hidden" id="nextTaskOrganizers" name="nextTaskOrganizers"/>
<input type="hidden" id="nextTaskCoordinators" name="nextTaskCoordinators" />	
<input type="hidden" id="organizerOrders" name="organizerOrders"/> 
 <input type="hidden" id="organizerSuperior" name="organizerSuperior" /> 
 <input type="hidden" id="organizerSubordinate" name="organizerSubordinate" /> 
 <input type="hidden" id="isStartNodeTask" name="isStartNodeTask" value="${isStartNodeTask}" />
</div>
<script>
	$( ".data_dictionary_radio" ).each(function( index ) {
		var element_id = this.getAttribute("id");
		var parent_dictId = this.getAttribute("datadictionary");
		var columnId = this.getAttribute("name");
		radioButtonForDataDictionary(element_id,parent_dictId,columnId,$pastValuesJson);
	});
	
	$( ".data_dictionary_checkbox" ).each(function( index ) {	
		var element_id = this.getAttribute("id");
		var parent_dictId = this.getAttribute("datadictionary");
		var columnId = this.getAttribute("name");		
		checkboxForDataDictionary(element_id,parent_dictId,columnId,$pastValuesJson);
	});
</script>
#foreach($property in $properties.keySet())	
	#set($propertyValue = ${properties.get($property)})
	#set($propertyValueReplace = $propertyValue.replaceAll("(\r\n|\n)", ""))	
	<script>
		loadValues('${formId}', '${property}', '${propertyValueReplace}');
	</script>	
#end
	
#if($nodeLevelFieldPermissions)	
	#foreach($nodeLevelFieldPermission in $nodeLevelFieldPermissions.keySet())	
	#set($fieldPermission = $nodeLevelFieldPermissions.get($nodeLevelFieldPermission))
		<script>
			loadPermissionsOnEdit("${formId}", "${nodeLevelFieldPermission}", "$fieldPermission.isEditable()", "$fieldPermission.isRequired()", "$fieldPermission.isReadOnly()", "$fieldPermission.isHidden()", "$fieldPermission.isNoOutput()");
		</script>
	#end
#end
<script type="text/javascript">
	prepareSubmitRecallTaskForm('${formId}', '${formAction}');
	$(document).ready(function() {
	count = 0;
	 $(".file-upload-control").each(function( index ) {
		var element_id = this.getAttribute("id");
		var element_name = this.getAttribute("name");
		var tableId = element_name+"Table";
		var tableTd = tableId+"Td";
		
		var topPosition =  $(this).css("top");
	  	var leftPosition =  $(this).css("left");
	  	var top = topPosition.split("px");
	  	var left = leftPosition.split("px");
	  	var styleAddBtn = "position:absolute;top:"+(parseInt(top[0])+8)+"px;left:"+(parseInt(left[0])+240)+"px";	
	  	var styleRemoveBtn = "position:absolute;top:"+(parseInt(top[0])+8)+"px;left:"+(parseInt(left[0])+279)+"px";		 
		before_html = "<div id='"+tableId+"'><div id='"+tableTd+"'></div><div><a style='"+styleAddBtn+"' href='javascript:;' onclick=clonefileUploadAddRow('"+tableId+"','"+element_name+"')>Add</a></div><div><a style='"+styleRemoveBtn+"' href='javascript:;' onclick=deleteFileUploadRow(this,'"+tableId+"')>Remove</a></div></div>";
		
		$("#"+element_id).before(before_html);
		var element = $('#'+element_id).detach();
		$('#'+tableTd).append(element);
	});
	
	    $(".datetimepicker").datetimepicker({
	        showOn: 'both',
	        buttonImage: '/images/easybpm/form/rbl/_cal.gif',
	        dateFormat: 'dd-mm-yy',
	        timeFormat: 'hh:mm',
	        minDate: 0,
	        constrainInput: true
	    });
	
	    $(".ui-datepicker-trigger").mouseover(function() {
	        $(this).css('cursor', 'pointer');
	    });
		
		$(".datepicker").datepicker({
	        showOn: 'both',
	        buttonImage: '/images/easybpm/form/rbl/_cal.gif',
	        dateFormat: 'yy-mm-dd',        
	        constrainInput: true
		});
		 
		$('.number-validation').keyup(function () { 
			this.value = this.value.replace(/[^0-9]/g,'');
		});
		
		var regex = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		$('.email-validation').blur(function () { 
			if(!regex.test(this.value)){
				this.value="";
			}
		});
			
		$('.decimal-validation').keyup(function () { 
		    this.value = this.value.replace(/[^0-9\.]/g,'');
	        if(this.value.split(".").length>2){
	              this.value=this.value.slice(0,-1);
	        }
		});
		
		$( ".data_dictionary" ).each(function( index ) {
			var element_id = this.getAttribute("id");
			var parent_dictId = this.getAttribute("datadictionary");
			var columnId = this.getAttribute("name");
			addOptionValToDictionary(element_id,parent_dictId,columnId,$pastValuesJson,'${isFormReadOnly}');
		});
		
		$( ".autocomplete" ).each(function( index ) {
			var element_id = this.getAttribute("id");
			var parent_dictId = this.getAttribute("datadictionary");
			autoCompleteForDataDictionary(element_id,parent_dictId);
		});
	
	$( ".user-control" ).each(function( index ) {
		var element_id=this.getAttribute("id");
		if(element_id!=null && element_id!=""){
			if(element_id.indexOf("_username") !== -1){
				this.innerHTML ='${username}';
			}
		}
		
	});
		
		$(".mandatory").each(function() {
			if($( this ).hasClass( "datetimepicker" ) || $( this ).hasClass( "datetimepicker" )){
				$(this).next().after("&nbsp;<span class='requiredImg'>*</span>");
			}else{
				$(this).after("&nbsp;<span class='requiredImg'>*</span>");
			}
		});
		loadCKEditor(function() {
	  		setTimeout(function(){	
				for(key in richTextBoxMap){
					$("#"+key).attr("style",richTextBoxMap[key]);
				}
		},1000);
});
	}); 
</script>